.login {
  padding:2em;
  border:1px solid grey;
  margin:auto;
  width:300px;
  margin-top: 3em;
}

label{
  display:block;
  text-align: left;
}

.field > .error {
  font-size: .8em;
  color:red;
  text-align: center;
}

.field{
  margin-top:1em;
}

.field > input{
  border:1px solid black;
  width:100%;
}

.field > input[type="button"] {
  display:block;
  margin:auto;
  border-radius: 0.5em;
  padding: 1em;
  border:1px solid grey;
  width:50%;
  color:white;
  font-weight: bolder;
  background-color: #AAA;
}

.field > input[type="button"]:hover {
 background-color: #555;
}

.field > input[type="button"]:disabled {
  background-color: #EEE;
  color:#CCC;
}